* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f6f9;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 230px;
    background: #1e293b;
    color: #fff;
    padding: 20px;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #cbd5e1;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
}

.sidebar ul li a:hover {
    background: #334155;
    color: #fff;
}

/* Main */
.main {
    flex: 1;
    padding: 30px;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.card h3 {
    font-size: 14px;
    color: #64748b;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.topbar {
    display: flex;
    justify-content: flex-end;
    padding: 16px 40px;
    background: #f5f6fa;
}

.topbar-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.topbar-item {
    background: #fff;
    padding: 10px 12px;
    border-radius: 10px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.05);
    cursor: pointer;
}

.topbar-user {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
    padding: 8px 14px;
    border-radius: 14px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.05);
}

.topbar-user img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.topbar-user span {
    display: block;
    font-size: 12px;
    color: #9ca3af;
}
.topbar {
    display: flex;
    justify-content: flex-end;
    padding: 14px 40px 6px; /* ↓ réduit la hauteur */
}
